body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    padding-bottom: 60px; /* Adjust according to the height of the footer */
}

header {
    background-color: #add8e6; /* Light blue color */
    padding: 20px;
    text-align: center;
    position: relative; /* Needed for positioning the logo */
}

h1 {
    margin-bottom: 10px;
}

p {
    margin-bottom: 20px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.logo {
    width: 100px; /* Adjust the width as needed */
    height: auto;
    position: absolute;
    top: 20px;
    left: 20px;
}

h2 {
    margin-top: 30px;
}

ol, ul {
    margin-bottom: 20px;
}

li {
    margin-bottom: 10px;
}

a {
    text-decoration: none;
    color: #007bff;
}

a:hover {
    text-decoration: underline;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer p {
    margin: 0;
}

.signup-btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.signup-btn:hover {
    background-color: #0056b3;
}
